@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: #ff4d30 #fff;
  scrollbar-width: thin;
}

body {
  overflow: auto;
  font-family: Poppins, sans-serif;
}

p {
  color: #706f7b;
}
